@media(max-width: 768px) {
  main.grid {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto;
  }
}

body {
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: #18684d;
    border-bottom: 1px solid #dddddd; 
    padding: 12px;
}
.content-table{
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow:0 0 20px #00000026;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer; 
}
.content-table tbody tr:hover{
    opacity: 0.7;
    transform: scale(0.98);
}
.content-table thead tr{
    background-color: #18684d;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}
.content-table th,
.content-table td{
    padding: 12px 15px;
}
.content-table tbody tr{
    border-bottom: 1px solid #dddddd;
    transition: all 0.5s ease-in-out;
}
.content-table tbody tr:nth-of-type(even){
    background-color: #f3f3f3;
}
.content-table tbody tr:last-of-type{
    border-bottom: 2px solid  #18684d;
}
img {
    width: 100px;
    height: 110px;

    border-radius: 50px;
    margin-right: 10px;
}
.username {
    font-weight: bold;
    padding: 2px;
    padding-bottom: 0px;
    color: pink;
}
a:hover {
   background-color: #ff0000;
}
a {
    padding: 5px;
    margin: 0px 5px;
    background-color: rgb(75, 61, 163);
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
}

.grid {
    margin: 50px 0px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    cursor: pointer;
}


.card {
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding: 5px;

    transition: all 0.5s ease-in-out;
}
.card:nth-of-type(even) {
    background-color: rgb(102, 110, 119);
}
.card:hover {
    transform: scale(0.98);
    opacity: 90%;

}